<launch>
    <!--  ************** Lidar Driver **************  -->
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="192.168.1.20"/>
      <param name="frame_id" value="lidar_link"/>
      <param name="calibrate_time" value="true"/>
      <param name="publish_intensity" value="false"/>
      <param name="publish_multiecho" value="false"/>
      <param name="angle_min" value="-2.3"/>
      <param name="angle_max" value="2.3"/>
      <param name="use_sim_time" value="false"/>
    </node>
</launch>
